---
import TextSection from './TextSection.astro';
---

<TextSection>
  You can write to us directly at
  <span class="underlined">realmarchivegames@gmail.com</span>. We also try to answer any
  questions in our discord servers and steam dicussion forums.
</TextSection>

<style>
  .underlined {
    font-weight: bold;
    text-decoration: underline;
  }
</style>
