---
import Steam from '../icons/Steam.astro';
import YouTube from '../icons/Youtube.astro';
import Twitter from '../icons/Twitter.astro';
import Mail from '../icons/Mail.astro';
---

<footer>
  <div class="container">
    <div class="socials">
      <a
        class="social"
        href="https://store.steampowered.com/publisher/RealmArchive"
        title="Steam"
        target="_blank"
      >
        <Steam />
      </a>
      <a
        class="social"
        href="https://www.youtube.com/channel/UCMQPflwGjORDwGCh5XNlLxw"
        title="YouTube"
        target="_blank"
      >
        <YouTube />
      </a>
      <a
        class="social"
        href="https://twitter.com/RealmArchive"
        title="Twitter"
        target="_blank"
      >
        <Twitter />
      </a>
      <a
        class="social"
        href="mailto:realmarchivegames@gmail.com"
        title="Mail"
        target="_blank"
      >
        <Mail />
      </a>
    </div>
  </div>
  <div class="copyright">© 2024 Realm Archive</div>
</footer>

<style>
  .container {
    max-width: 1056px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: var(--spacing);
    gap: var(--spacing);
  }

  .copyright {
    position: relative;
    bottom: 16px;
    width: 100%;
    text-align: center;
    font-style: italic;
  }

  .socials {
    display: flex;
    height: 72px;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 10;
  }

  .social {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 12px;
    border-radius: 50%;
    transition: all 0.3s;
  }

  .social:hover {
    --background-color: #f8f8f8;
    width: 72px;
    height: 72px;
    margin: 0;
  }
</style>
