---
export interface Props {
  header: string;
}

const { header } = Astro.props;
---

<div class="container">
  <h2 class="header">{header}</h2>
  <div class="separator"></div>
</div>

<style>
  .container {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .header {
    font-size: 26px;
    margin: 0;
  }

  .separator {
    background-repeat: repeat-x;
    background-image: url('/separator-line.png');
    background-size: auto 100%;

    height: 14px;
    width: 100%;
  }
</style>
